@media screen and (min-width: 400px) {
    #sign-form {
        padding: 25px;
    }
}
@media screen and (min-width: 750px) {
    body {
        background: var(--Red) url(images/bg-intro-desktop.png) no-repeat;
        /* background-size: cover; */
    }

    main {
        margin: 0;
    }

    .container {
        grid-template-columns: 47% 50%;
        align-items: center;
    }

    .left {
        text-align: left;
        /* width: 550px; */
    }

    .left h1 {
        width: 405px;
        font-size: 41px;
    }

    .msg {
        margin-top: 0;
        padding: 16px 13px;
    }

}

@media screen and (min-width: 900px) {

    .left h1 {
        width: 470px;
        font-size: 48px;
        line-height: 1.15;
    }

    #sign-form {
        padding: 41px;
    }

    .small-text {
        font-size: 12px;
    }
}

@media screen and (min-width: 1060px) {
    .left h1 {
        font-size: 55px;
    }
}
    @media screen and (min-width: 1250px) {
    .container {
        width: 1150px;
        grid-template-columns: 550px 550px;
    }
}